.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

h1 {
  margin-bottom: 40px;
}
.color-background {
  width: 20%;
  height: 60%;
  box-shadow: 5px 5px 15px black;
  margin-bottom: 30px;
}

.changeBtn {
  width: 10%;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  font-size: 15px;

  }

  .changeBtn:hover {
  width: 10%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  font-size: 15px;
  background-color: pink;
  cursor: pointer
  }

  input {
    margin-bottom: 15px;
    border-radius: 10px;
    width: 18%;
    height: 30px;
  }

  